<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/19415/IdeaProjects/DesmosTesting/src/test/java">
        <classes>

            <class name="OperatorUnitTests"></class>
            <class name="SumProdUnitTests"></class>
            <class name="TrigUnitTests"></class>
            <class name="GraphUnitTests"></class>
            <class name="KeyboardTest"></class>
            <class name="ImageInsertionTest"></class>
            <class name="ZoomInOutTest"></class>
            <class name="EditSettingsTest"></class>


        </classes>
    </test>
</suite>